.result-div {
    position: relative;
    height: 485px;
    background: black
  }
  
  .result-div:hover > .result-cancel {
    display: flex;
  }
  
  .result-cancel {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 26px;
  }
  
  .result-cancel:hover {
    color: red
  }
  
  
  /* Display show name and season number chosen */
  .result-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px
  }