/* Display days component*/
.days-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100px;
    color: white;
    margin: 40px;
}
  
.colon-span {
    margin-top: 30px;
    font-size: 3em;
}

.days {
    padding: 10px;
    text-align: center;
}

.numbers {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 100;
    display: block;
    margin-bottom: -21.33px;
}

.day-words {
    font-size: 12px;
    color: gray;
    font-weight: normal;
}

/* Search */
.search-fields-div {
    display: flex;
    justify-content: center;
    margin: 30px 0px 20px 0px;
}

.search-input {
    width: 50% !important;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    color: white !important;
}
 
.transparent-fields {
    background: transparent !important;
    border: 0px !important;
    color: white;
}

.search-suggestions-div {
    margin-top: 20px;
    min-height: 100px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.suggestion-list {
    width: 100%;
    margin: 0px 25%;
    text-align: left;
}

.suggest-item {
    border: 0px !important;
    cursor: pointer;
    color: white;
    font-size: 24px;
    width: 100%;
}

/* Remove this  */
.suggest-item:hover {
    color: yellow;
}


